#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
#export DH_OPTIONS=-v


LDFLAGS += -Wl,--no-as-needed

%:
	dh $@ --with autotools-dev


override_dh_auto_configure:
	dh_auto_configure -- --enable-httpserv-plugin --enable-image-websearch-plugin --enable-libevent1 --disable-external-gtest 


override_dh_auto_test:
	echo "Skip dh_auto_test"
